@charset "EUC-KR";

.table {
	margin: 50px auto 0;
	width: 500px;
	border-top: 2px solid #D2D2D2;
	border-bottom: 2px solid #D2D2D2;
}

.boardComent{
	 border: none;
}

.mb-4{
	position:relative;
	margin:0 auto 0;
	width: 555px
	
}
.parent{
	margin-top: 5px;
}
.replyWriteForm{
	margin-left: 798px;
}
.form-control{
	margin-top: 10px;
}
.repcancel{
	margin-top: 5px;
	margin-left: 10px;
	padding-bottom: 2px;
	padding-top: 2px;
	border-bottom-width: 1px;
}
.repsubmit{
	margin-top: 5px;
	padding-bottom: 2px;
	padding-top: 2px;
	border-bottom-width: 1px;
}
.re_content{
	word-break:break-all;
	position:relative;
	margin:0 auto 0;
	width: 555px
}
.btnrep-rerep{
	margin-left: 350px;
}
.btnrep-update{
	margin-left: 10px;
}
.btnrep-delete{
	margin-left: 10px;
}
.btn_update{
	margin-bottom: 5px;
	float: right;
}
.rereplyInsert span{
	margin-bottom: 1px;
	float: right;
}
