@charset "EUC-KR";

.table {
	margin: 50px auto 0;
	width: 500px;
	border-top: 2px solid #D2D2D2;
	border-bottom: 2px solid #D2D2D2;
}

.boardComent{
	 border: none;
}

.mb-4{
	position:relative;
	margin:0 auto 0;
	width: 555px
	
}
.replyWriteForm{
	margin-left: 798px;
}
.form-control{
	margin-top: 10px;
}
.replyBtn{
	text-align: right;
}
.repWrapper{
	position:relative;
	margin:0 auto 0;
	width: 555px;
}
.repline{
	margin-top: 15px;
	margin-bottom: 5px;
}
.repheader{
	width: 555px;
}
.repbody{
	word-break:break-all;
}
.repBtn{
	position : relative;
	text-align: right;
}
.rerepCnt{
	position: absolute;
	text-align: left;
	padding-top: 7px;
	padding-left: 10px;
}

