@charset "EUC-KR";

.table {
	margin: 50px auto 0;
	width: 500px;
	border-top: 2px solid #D2D2D2;
	border-bottom: 2px solid #D2D2D2;
}

.boardComent{
	 border: none;
}

.mb-4{
	position:relative;
	margin:0 auto 0;
	width: 555px
	
}
.replyWriteForm{
	margin-left: 798px;
}
.form-control{
	margin-top: 10px;
}
.replyBtn{
	text-align: right;
}
.repWrapper{
	position:relative;
	margin:0 auto 0;
	width: 555px;
}
.repline{
	margin-top: 15px;
	margin-bottom: 5px;
}
.repheader{
	width: 555px;
	position: static;
}
.repbody{
	word-break:break-all;
}
.repBtn{
	position : relative;
	height: 40px;
	text-align: left;
}

.rerepCnt{
	text-align: left;
	padding-top: 7px;
	padding-left: 10px;
	color: #337ab7;
	cursor:pointer;
	width: 90px;
}
.rerepWrapper{
	position: relative;
	width: 555px;
}
.reprepheader{
	width: 555px;
}
.rerepbody{
	word-break:break-all;
}
.rereptable{
	margin-left:10px;
	position : relative;
}

.rerepBtn{
	position : relative;
	text-align: right;
}
.repUpdateForm{
	position:relative;
	margin:0 auto 0;
	width: 555px;
}
.rerepInsertBtn{
	color: black;
    font-weight: 500;
}